.check-container {
  display: flex;
  align-items: center;
  padding: .5rem 0;

  p {
    margin: 0;
  }

  .check-details {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .check-meta {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    opacity: .7;
    font-size: .85rem;

    span, input, form {
      width: 100px;
      margin-right: .5rem;
    }

    span {
      text-align: center;
    }
  }
}

input[type=checkbox] {
  display: none;
}

label {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 3px solid;
  float: left;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: .1s ease-in-out;

  &:hover {
    // background: $color-neue;
    opacity: .7;
  }
}

input[type=checkbox]:checked + label{
  background: $color-neue;

  &:hover {
    background-color: $color-neue;
  }
}

label:before{
  content: '';
}
