body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: $font-roboto;
  background-color: $color-night;
  color: $color-neue;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem auto;
  text-transform: uppercase;
}

input[type=text] {
  line-height: 60px;
  font-size: 1.5rem;
  display: block;
  margin: 0 auto;
  color: $color-neue;
  background-color: $color-night;
  width: 100%;
  outline: none;
  border-radius: 0;
  border: none;
  margin: .5rem 0;
  border-bottom: 3px solid $color-neue;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  font-size: .9rem;
}
